@import url("./style/helvitica.css");

@import "tailwindcss";

* {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@theme {
  --color-custom-text: #242424;
  --color-custom-red: #800c3a;
  --color-custom-green: #0d684d;
  --color-custom-orange: #d58044;
  --color-custom-dark: #05184c;
  --color-custom-blue: #8cb1cd;
}

.ant-float-btn-group {
  button {
    background-color: #166534E6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  .ant-float-btn-group-wrap {
    margin-bottom: 16px;
  }

  .ant-float-btn-body {
    background-color: transparent;

    .ant-float-btn-icon {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 32px;
      }
    }
  }
}
.ant-btn:hover {
  background-color: #166534E6 !important;
  opacity: 0.9 !important;
  color: white !important;
}

body {
  overflow-x: hidden !important;
}

.drawer__link {
  color: black !important;
}

.inner-green-shadow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  /* Faqat pastki ichki soya uchun: x-yo‘nalish = 0, y-yo‘nalish = -20px (yuqoriga), blur va spread bilan o‘ynash mumkin */
  box-shadow: inset 0 -200px 50px -30px #166534a8;
  z-index: 10;
}

